<ul class="nav">
	<li class="active">
		<a href class="auto">			
			<span class="pull-right text-muted">
				<i class="fa fa-fw fa-angle-right text"></i>
				<i class="fa fa-fw fa-angle-down text-active"></i>
			</span>
			<i class="glyphicon glyphicon-menu-hamburger"></i>
			<span class="font-bold" translate="aside.nav.DASHBOARD">系统管理</span>
		</a>
		<ul class="nav nav-sub dk">
			<li ui-sref-active="active">
				<a ui-sref="app.action">
					<i class="fa fa-sitemap text-info-dker"></i>
					<span class="font-bold">功能模块管理</span>
				</a>
			</li>
			<li ui-sref-active="active">
				<a ui-sref="app.organization">
					<i class="fa fa-gears text-info-dker"></i>
					<span class="font-bold">组织机构管理</span>
				</a>
			</li>
			<li ui-sref-active="active">
				<a ui-sref="app.role">
					<i class="fa fa-user text-info-dker"></i>
					<span class="font-bold">角色权限管理</span>
				</a>
			</li>
			<li ui-sref-active="active">
				<a ui-sref="app.onlineUser">
					<i class="fa fa-users text-info-dker"></i>
					<span class="font-bold">在线用户</span>
				</a>
			</li>
		</ul>
	</li>
</ul>